<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div>

<h3>책 목록</h3>
<table border="1">
	<tr>
		<th>번호</th>
		<th>제목</th>
		<th>저자</th>
		<th>출판사</th>
		<th>출판연도</th>
	</tr>
	<tr th:each="entry:${bookMap}" th:with="book=${entry.value}">
		<td th:text="${book.seq}"></td>
		<td th:text="${book.title}"></td>
		<td th:text="${book.creator}"></td>
		<td th:text="${book.publisher}"></td>
		<td th:text="${book.publishedYear}"></td>
	</tr>
</table>

</div>

</body>
</html>