<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div>
	<h3>Form에서 사용</h3>
	<p>책 정보 입력</p>
	<form th:action="@{/test6_1}" th:object="${book}" method="post">
		<table border="1">
			<tr>
				<td>책제목</td>
				<td>
					<input type="text" th:field="*{title}" placeholder="책 제목을 입력하세요">
				</td>
			</tr>
			<tr>
				<td>저자명</td>
				<td>
					<input type="text" th:field="*{creator}" placeholder="저자명을 입력하세요">
				</td>
			</tr>
			<tr>
				<td>출판사</td>
				<td>
					<input type="text" id="publisher" name="publisher" placeholder="출판사명을 입력하세요">
				</td>
			</tr>
			<tr>
				<td>출판연도</td>
				<td>
					<input type="text" th:field="*{publishedYear}" value="">
				</td>
			</tr>
		</table>
		
		<button type="submit">입력</button>
		
	</form>
</div>

</body>
</html>